# Exclude other unnecessary files (renv files are copied explicitly first, then overwritten in bulk copy)
aqbat/.Rproj
aqbat/rsconnect/
aqbat/deploy.R
aqbat/manifest.json
aqbat/French names.txt
aqbat/empty.csv
