# R specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron

# Files containing secrets (DO NOT COMMIT)
aqbat/deploy.R

# renv specific files
aqbat/renv/library/
aqbat/renv/staging/
aqbat/renv/python/
aqbat/renv/local/
aqbat/renv/settings.json

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
# Local development
docker-compose.yml
