<article class="step-counter" lang="{{lang}}">
    <div>
        <span id="progress-description-{{stepNumber}}" lang="{{lang}}">
            <strong lang="{{lang}}">{{i18n$t("Step")}} {{stepNumber}}</strong> {{i18n$t("of")}} {{totalSteps}}
        </span>&nbsp;
    </div>
    <progress id="progress-bar-{{stepNumber}}" value="{{stepNumber}}" max="{{totalSteps}}" aria-hidden="true">
        <span class="wb-inv">
            {{i18n$t("Step")}} {{stepNumber}} {{i18n$t("of")}} {{totalSteps}}
        </span>
    </progress>
</article>