<div class="" style="margin: 0px 0px;">
  <p>
    {{i18n$t("Click \"Restore default values\" to restore the values of each cell back to its preset (the values that show up automatically when the website first loads). Default values are restored in this section only.")}}
    <!-- Click \"Restore default values\" to restore the values of each cell back to its preset (the values that show up automatically when the website first loads). Default values are restored in this tab only.</button> -->
  </p>
</div>
