<!-- Timeout Warning Modal -->
<div id="{{type}}-centred-popup-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{i18n$t("Timeout Warning")}}</h3>
      </div>
      <div class="modal-body">
        {{message}}
      </div>
      <div class="modal-footer">
        <button id="continue-data-warning" 
          class="btn btn-primary" 
          type="button" 
          onclick="resetShinyTimeout()"
        >  
          {{i18n$t("Extend session")}}
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{i18n$t("Cancel")}}</button>
      </div>
    </div>
  </div>
</div>

<script>
  const resetShinyTimeout = () => {
      // Trigger the reset timeout input to reset the Shiny session timeout
      Shiny.setInputValue("reset_timeout", new Date().getTime());  // Unique timestamp to trigger server-side action
      $('#timeout-warning-centred-popup-modal').modal('hide');
  }
</script>

<style>
  /* Ensure modal positioning remains unchanged */
  /* .modal-content {
    position: absolute;
    width: 500px;
    max-width: 100%;
    top: 200px;
  } */

  .modal-header {
    background-color: var(--primary);
    color: white !important;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .close {
    color: white;
    opacity: unset;
    position: absolute;
    right: 10px;
    top: 8px;
  }

  /* Custom style to ensure scrollbar is retained */
  .modal-open {
    overflow: hidden; /* Hide the overflow only in modal */
  }

  .modal-open .modal {
    padding-right: 15px; /* Adjust to match scrollbar width */
  }

</style>
